h1 = "Hello, #{@user.name}!"
  p Welcome to our test site. To complete registration follow the link below
  = link_to 'Complete registration', confirm_user_path(confirmation_token: @user.confirmation_token)
